* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul,ol {
    list-style:none
}

a {
    text-decoration: none;
    color: black;
}

/*CONTAINER*/

.container-big {
    max-width: 100%;
}

.container-hero {
    max-width: 1200px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1000px;
    margin: 0 auto;
}

/*HEADER*/
.header-page {
    padding: 5px;
    border: 1px solid black;
}

.row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.row, .information .support-login {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    width: 85px;
    display: block;
}

.information-text {
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
}
