* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

/*CONTAINER*/

.container-big {
    max-width: 100%;
}

.container-hero {
    max-width: 1200px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1000px;
    margin: 0 auto;
}