* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


ul,ol {
    list-style:none
}

a {
    text-decoration: none;
    color: black;
}

/*CONTAINER*/

.container-big {
    max-width: 100%;
}

.container-hero {
    max-width: 1200px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1000px;
    margin: 0 auto;
}

/* COL-FLEX */
.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-12 {
    width: 100%;
}
/*HEADER*/
.header-page {
    padding: 10px;
}

.row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.row-information {
    display: flex;
    justify-content: space-between;
}

.row-support-login {
    display: flex;
    justify-content: space-between;
}


.logo {
    width: 85px;
    display: block;
}

.information-text {
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
}

/*Main*/
/*HERO*/
.hero {
    background-color: #B4D0E7;
    padding: 20px;
    margin-bottom: 30px;
}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.hero .col-3 {
    display: flex;
    flex-direction: column;
}

.row-hero {
    display: flex;
    flex-wrap: wrap;
}

.row-hero-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.button {
    background-color: #0061FF;
    color: white;
    line-height: 45px;
    padding: 0px 10px;
}

.img-jumbo {
    width: 700px;
    display: block;
}

.arrow {
    font-size: 70px;
}

/*BUSINESS*/
.business {
    margin-bottom: 30px;
}

.container-medium {
    border: 1px solid black;
}

/*SUB*/
.container-medium-subscriptions {
    border: 1px solid black;
    max-width: 1000px;
    margin: 0 auto;
}

.row-subscriptions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*card*/
.card {
    display: flex;
    flex-direction: column;
    background-color: brown;
    max-width: 100%;
}
/*Debug*/

/* .debug .container-medium {
    border: 1px solid black;
} */

/* .container-medium-subscriptions {
    border: 1px solid black;
    max-width: 1000px;
    margin: 0 auto;
} */



.debug .col-4-card {
    border: 1px solid black;
    background-color: aqua;
    min-height: 80px;
    width: calc((100% / 12) * 4);
}


.debug .col-12-card {
    border: 1px solid black;
    min-height: 80px;
    width: 100%;
}
 





